/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ffa500;
}

section {
  float: left;
}

#left {
  width: 33.3%;
  background: #30948d;
  color: white;
  padding: 20px;
}

#middle {
  width: 33.3%;
  background: #9e1212;
  color: white;
  padding: 20px;
}

#right {
  width: 33.3%;
  background: #30948d;
  color: white;
  padding: 20px;
}

#full {
  color: white;
  background: #394549;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}

#division {
  color: white;
  background: #6ea3da;
  margin: 80px 10px 25px 10px;
  padding: 20px;
  text-align: center;
}

aside {
  background: #a6b747;
  color: white;
  margin: 10px 60% 10px 5%;
  padding: 15px 150px 200px 150px;
  float: left;
  width: 300px;
}

footer {
  background: #ffa500;
  color: #333;
  padding: 20px;
  clear: both;
  margin-top: 10px;  
}
